<!DOCTYPE html>
<html>
<head>
<style>

body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, head {
    text-align: center;
}

</style>
</head>

<body>

<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/loginuser">
        <input type="text" name="username" placeholder="Enter your name">
        <input type="text" name="password" placeholder="Enter your password">
        <button type="submit">Login</button>
    </form>
</body>