<!DOCTYPE html>
<html>
<head>
<style>

body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {text-align: center;}

</style>
</head>

<title>Äks</title>
<h1>Welcome to Äks</h1>

{% include 'navbar.html' %}

<body>
    <h2>Post a new message</h2>
    <form method="POST" action="/newmessage">
        <input type="text" name="message" placeholder="Write the message here">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit">Post</button>
    </form>
</body>