<title>Äks</title>
<h1>Welcome to Äks</h1>

{% include 'navbar.html' %}

<h3>Showing all messages</h3>

<h4>Search from messages</h4>
<form method="POST" action="/messages/search">
    <input type="text" name="query" placeholder="Search a message">
    <button type="submit">Search</button>
</form>

<a href="/messages/new">Click here to post a new message</a>
<hr>
<h5># of messages: {{ count }}</h5>
<hr>
{% for message in messages %}
<a href="/messages/{{message.id}}">{{ message.content }}</a>
<hr>
{% endfor %}