<!DOCTYPE html>
<html>
<head>
<style>

body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, head {text-align: center;}

</style>
</head>

<head>
    <title>Äks</title>
    <h1>Welcome to Äks</h1>

    {% include 'navbar.html' %}
    
    <title>Register</title>
</head>
<body>
    <h2>Register a new user</h2>
    <form method="POST" action="/registeruser">
        <input type="text" name="username" placeholder="Enter your name">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Register</button>
    </form>
</body>